body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator{
    background-color: black;
    height: 480px;
    width: 340px;
    border-radius: 5%;
    border: 5px solid aqua;
    text-align: center;
    padding: 20px;
}

#display{
    height: 50px;
    width: 300px;
    background-color: white;
    font-size: 24px;
    border-color: white;
    text-align: right;
}

button{
    background-color: black;
    color: white;
    height: 70px;
    width: 70px;
    margin: 3px;
    font-size: 23px;
    border-radius: 70%;
    border-color: red;
}

button#num0{
    width: 150px;
    border-radius:20%;
}

#divide,
#multiply,
#plus,
#minus,
#equal{
    border-color: green;
}

footer{background-color: black;
    border-bottom: 0.5px solid aqua;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 22px;
}
